.btn-primary
	+transition(all 0.2s ease-in)
	display: inline-block
	background-color: $primary
	color: #fff
	text-transform: uppercase
	font-size: 0.8em
	font-weight: 600
	line-height: 2em
	padding: 0px 0.5em
	border: none
	text-align: center
	outline: none
	font-weight: 300
	font-size: 1em
	text-transform: none
	&:hover 
		background-color: #000
		color: #fff
.gaseste-inspiratie
	@extend .btn-primary
	font-weight: 300
	font-size: 1em
	text-transform: none
	&:hover
		background-color: #000
		color: #fff