.btn-submit
	+transition(all 0.2s ease-in)
	background-color: $red	
	color: #fff
	outline: none
	box-shadow: none
	&:hover
		background-color: $blue		
		color: #fff
.go-checkout
	@extend .btn-submit
	line-height: 2em
	padding: 0 1em
	@media (max-width: $screen-sm-min - 1)
		width: 100%
		text-align: center
		margin-bottom: 10px
		clear: both
		border: 1px solid darken($primary, 10%)
		line-height: 2.8em
		&:before 
			font-family: "FontAwesome"
			content: "\f046"
			margin-right: 0.5em
.clear-cart
	+transition(all 0.2s ease-in)
	line-height: 2em
	padding: 0 1em
	background-color: #ddd	
	color: #fff
	outline: none
	box-shadow: none
	&:hover
		background-color: $blue
		color: #fff	
	@media (max-width: $screen-sm-min - 1)
		text-align: center
		font-size: 0.8em
		float: right
		width: 40%	
		line-height: 3em
		background-color: #fff 
		color: #000 
		border: 1px solid #000
.continue-shopping
	+transition(all 0.2s ease-in)
	line-height: 2em
	padding: 0 1em
	background-color: lighten($secondary, 20%)
	background-color: #000
	color: #fff
	outline: none
	box-shadow: none
	&:hover
		color: #fff
		background-color: $blue	
	@media (max-width: $screen-sm-min - 1)
		text-align: center
		background-color: #fff 
		color: #000 
		border: 1px solid #000
		font-size: 0.8em
		float: left
		width: 55%
		margin-right: 5%
		line-height: 3em	
.newsletter
	+transition(all 0.2s ease-in)
	background-color: $secondary
	color: #fff
	display: inline-block
	border: none 
	max-width: 200px
	text-align: center 
	&:hover 
		background-color: $primary