.cart-page
	+make-row
	color: #000
	font-size: 1em
.cart-list
	+make-xs-column(12)	
.cart-product
	width: 50%
	float: left
	padding: 0 $spacing
.cart-delivery
	width: 20%
	float: left
	padding: 0 $spacing
.cart-quantity
	width: 10%
	float: left
	padding: 0 $spacing
.cart-price
	width: 20%
	float: left
	padding: 0 $spacing
.cart-delete
	position: absolute
	right: 10px
	top: 10px	
.header-cart
	+clearfix
	border-bottom: 1px solid #000
	padding-bottom: 0.5em
	margin-bottom: 1em	
	font-weight: 800
	text-transform: uppercase
	font-size: 0.8em
	.cart-product 
		padding-left: 0px
.cart-row
	+clearfix	
	font-size: 0.9em
	background-color: #fff
	padding: 0.2em 0
	margin-bottom: $spacing
	position: relative
	p 
		margin-bottom: 0px	
	.media-right 
		vertical-align: middle
		height: 100px
		padding-left: 0px
	.media-left
		width: 100px	
	.cart-price 
		span 
			font-size: 0.7em
			color: #aaa					
	h2 
		font-weight: 400	
		text-transform: none
		font-size: 1em
		font-weight: 600
		a			
			color: #000
			font-weight: 700
	.cart-quantity
		input 
			max-width: 60px
			text-align: right
		button			
			outline: none
			background-color: #fff
			border: none
			&:hover 
				color: $secondary
	.product-code
		font-size: 0.8em	
.cart-summary
	+clearfix
	background-color: #fff 
	line-height: 1.3em 
	font-size: 0.8em 
	padding: 0.5em
	font-weight: 400
	margin-bottom: $spacing
	border-bottom: 2px solid $primary
	p 
		margin-bottom: 0
	.subtotal 
		float: right		
		font-weight: 800	
		font-size: 1.2em
.cart-footer 
	font-size: initial
	margin-bottom: $spacing*2
	.go-checkout 
		float: right
	.continue-shopping
		margin-right: $spacing	

			