.checkout 
	+make-row
	h2 
		font-weight: 300
		margin-bottom: 0.5em
	.checkout-headline 
		font-weight: 800
		text-transform: uppercase
		border-bottom: 1px solid #000	
		line-height: 1
		padding-bottom: 0.5em
		margin-bottom: 1em
	label
		font-weight: 600
		width: 200px	
		display: inline-block
		margin-bottom: 0.5em
		&.address 
			width: 90%
	input[type="text"],input[type="email"],input[type="password"]
		width: 200px
		max-width: 200px
		border: 1px solid #aaa
		box-shadow: 0px 0px 3px #eee	
		line-height: 2em
		padding: 0 0.5em
		&:focus 
			border-color: $secondary
			box-shadow: 0px 0px 3px rgba(0,190,212,0.4)
.checkout-content
	font-size: 0.8em
	+make-sm-column(8)
.form-group
	margin-bottom: 0.5em	
