body
	background-color: #fff
.container
	+container-fixed
	@media (min-width: $screen-sm-min)
		width: $container-sm
	@media (min-width: $screen-md-min)
		width: $container-md
	@media (min-width: $screen-lg-min)
		width: $container-lg
.proiect-list
	+clearfix
	padding: 0 $spacing/2
	// padding-top: 110px
	.item
		+make-sm-column(6)
		+make-md-column(4)
		+make-lg-column(4)
		// margin-bottom: $spacing*2
		position: relative
		overflow: hidden
		padding: 0px
		&:hover 
			.proiect-extra
				+transform(translate(-100%,0))
			.title
				opacity: 0
			.title-project
				opacity: 1		
		.item-wrap
			padding: $spacing
			position: relative		
		.big-image-wrap
			position: relative 
			.title 
				position: absolute
				left: 0
				bottom: 10%
				right: 0
				z-index: 99
				color: #fff
				text-align: center
				background-color: rgba(255,255,255,0.8)
				color: #000
				+transition(all 0.2s ease-out)	
				z-index: 5		
				font-weight: 400
				width: 40%
				left: 30%
				padding: 0.2em 0.5em
				.fa 
					margin-left: 0.5em
					color: $primary
			.title-project
				position: absolute
				left: 0
				bottom: 10%
				right: 0
				z-index: 99
				color: #fff
				text-align: center
				background-color: rgba(255,255,255,0.8)
				color: #000
				+transition(all 0.2s ease-out)	
				z-index: 5		
				font-weight: 400
				width: 40%
				left: 30%
				padding: 0.2em 0.5em
				.fa 
					margin-left: 0.5em
					color: $primary	
				&:hover 
					background-color: $primary
					color: #fff	
	.proiect-extra
		position: absolute
		left: 100%
		top: $spacing
		bottom: $spacing
		right: 0
		background-color: #fff
		padding: 1em
		border-left: 2px solid $primary
		width: 40%
		z-index: 10
		+transition(all 0.5s ease-out)
		.ask-for-offer 
			font-size: 1em
			font-weight: 400
			position: absolute
			bottom: 1em	
			left: 0			
			padding: 0px $spacing
			width: 100%			
			.fa 
				vertical-align: middle
				margin-right: 0.5em
				float: right
				line-height: 1.4em
			a 
				// border: 1px solid $primary
				padding: 0.2em
				text-align: left
				padding-left: 0.5em	
				display: block
				background-color: $primary
				color: #fff
				text-align: center
				&:hover 
					background-color: #000
					color: #fff
					.fa 
						color: #000
						+transition(all 0.2s ease-out)
						+transform(translate(0.2em,0))
		.view-project
			font-weight: 400
			position: absolute
			bottom: 3.5em
			left: 0
			color: #000
			padding: 0 $spacing
			width: 100%
			.fa 
				vertical-align: middle
				margin-right: 0.5em
				float: right
				line-height: 1.4em
			a 
				background-color: $primary
				color: #fff 
				font-weight: 300
				padding: 0.2em
				text-align: left
				padding-left: 0.5em	
				display: block
				border: 1px solid $primary
				&:hover 
					background-color: #000
					color: #fff
					border-color: #000
					.fa 
						color: #fff
						+transition(all 0.2s ease-out)
						+transform(translate(0.2em,0))
		.headline
			border-bottom: 1px solid $primary
			font-size: 0.8em
			font-weight: 400
			text-transform: uppercase
		.proiecte-extra-image	
			min-width: 40px
		.proiect-extra-item
			+clearfix
			a 
				display: block
				float: left
				line-height: 2em
				font-size: 1em
				color: #000
				&:hover 
					color: $primary
				img 
					max-height: 2em
					margin-right: 0.5em
