.header	
	+clearfix
	margin-bottom: 1em	
	font-size: 0.8em
	+transition(all 0.2s ease-in)
	.top
		+clearfix
		display: block
		background-color: #000
		color: #fff		
		padding: 0px $spacing
		text-align: left
		line-height: 2em
		margin-bottom: $spacing
		p 
			display: inline-block
			margin: 0
			margin-right: 1.5em
		.fa 
			display: inline-block 
			margin-right: 0.5em	
		ul			
			+h-nav
			display: none
			float: right
			@media (min-width: 768px)
				display: block
			a
				padding: 0 0.5em
				margin: 0
				color: #fff
				&:hover
					color: darken(adjust_hue($accent, 136), 11)
			li:last-child
				a
					padding-right: 0		
	.upper		
		+make-row
		position: relative		
		margin-bottom: $spacing	
		color: #fff			
		padding: 0px $spacing
		min-height: 70px
		@media (min-width: 768px)		
			padding: 0px
		a
			margin: 0
			padding: 0
		.logo
			+make-xs-column(6)
			padding-left: 0	
			@media (min-width: 768px)				
				position: absolute
				top: 0px
				left: 0px
				z-index: 2
				width: 230px
		.header-info			
			+clearfix			
			+make-sm-column(9)
			+make-xs-column(6)		
			@media (min-width: 768px)			
				width: 100%
				padding: 0px
				padding-left: 220px
		.header-item
			padding-top: $spacing			
		.header-phone, .header-delivery
			display: none
			+make-sm-column(4)			
			+clearfix
			@media (min-width: 768px)
				display: block
			img 
				float: left
				margin-right: 5px 
			p 
				// float: left
				display: inline-block
				margin-bottom: 0px
			.fa 
				vertical-align: top
				font-size: 2em
				margin: 0.2em 0.5em 0		
		.header-login
			+make-sm-column(2)	
			+make-xs-column(6)
		.header-cos
			+make-sm-column(2)
			+make-xs-column(6)
			padding-top: 0px
			background-color: $red
			float: right
			a 
				color: #fff				
	.middle
		+make-sm-column(12)
		+clearfix		
		padding-right: 0
				
	.lower
		+make-sm-column(9)
		+clearfix
		font-size: 0.9em
		padding-right: 0px
		float: right	
		.cos
			float: right
			margin-left: 1em
			line-height: 2em
			span
				color: $accent
.header-search
	width: 100%
	text-align: right
	padding-right: 10px
	@media (min-width: $screen-sm-min)
		+make-row   //SWITCH	
		float: right
		max-width: 25%	
	form 
		+default-input
	input
		+default-input	
		font-size: 0.8em	
		border: none
		box-sizing: border-box	  
		outline: none
		display: inline-block
		margin: 0px
		margin-right: -4px
		padding: 0px
		vertical-align: top
		line-height: 25px 
		padding: 0 0.5em
		+transition(all 0.2s ease-in)
		width: 100%
		@media (min-width: $screen-sm-min)
			width: 10em
			&:focus
				width: 15em
	button
		outline: none
		background-color: #fff
		border: none
		color: #000
		font-size: 1.2em
		line-height: 23px
		&:hover
			background-color: #fff
			color: $accent


	
	
	
			