.main-nav	
	// border-bottom: 2px solid $blue
	position: relative
	z-index: 2
	background-color: #000
	@media (min-width: $screen-sm-min)
		+make-row   //SWITCH	
	ul
		+h-nav
		// position: relative
		float: left
		// max-width: 75%
	a
		+nav-level-1(#000,#fff,$red,#fff)
		font-weight: 400
		text-transform: uppercase
		font-size: 0.9em
		font-weight: 700
		// &.active 
		// 	color: #000
	a.level-3
		background-color: #fafafa
		color: #000
		width: 100%
		display: block 
	
	.dropdown		
		a:after
			font-family: "FontAwesome"
			content: "\f107"
			font-size: 0.8em
			margin-left: 0.5em	
	.dropdown:hover
		.dropdown-menu
			display: inline-block	
			width: 100%	
	.dropdown-menu
		display: none
		+v-nav
		+clearfix
		+background-image(linear-gradient(white, #fafafa))
		border-bottom: 2px solid $accent
		min-height: 300px
		position: absolute
		top: 25px
		left: 0
		.M2
			li 
				position: relative
		.M3 
			display: block
			li 
				width: 100%
				display: block
				float: none		
		li 
			float: left
			width: 20%
		.level-2			
			a
				+nav-level-2(transparent, $accent, transparent, $accent)
				text-transform: uppercase
				font-weight: 700
				font-size: 0.9em
				padding-left: 0.8em
				&:after
					display: none
		.level-3
			a
				+nav-level-2(transparent, #000, transparent, $accent)
				font-size: 0.8em
				text-transform: none
				font-weight: 400			
				padding-left: 1em
		.level-2-container
			padding: 1em $grid-gutter-width/2
			float: left		
	.teaser
		float: left
								