.header  
  .upper
    .container
      ul
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
      ul
        li
          p Telephone: 0722112233 | 0711334455
        li
          p
            | Monday-Sunday: 9
            sup 00
            | -12
            sup 00
  .container
    .logo
      a(href='homepage.html')
        img(src='http://placehold.it/200x70/FAFAFA/000000' class='img-responsive')
    .middle
      ul
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
    .lower
      .cos
        span {
        | 5
        span }
        |  produse
      .search
        form.form-group
          input.form-control(type='search', placeholder='Search...')
          button(type='button')
            i.fa.fa-search
