.header
  .container
    .upper
      .logo
        a(href='homepage.html')
          img(src='http://placehold.it/200x70/FAFAFA/000000' class='img-responsive')
      .header-info
        .header-item.header-phone
          img(src='http://placehold.it/32x32')
          p 021 337 25 55 <br /> 0724 27 91 95
        .header-item.header-delivery
          img(src='http://placehold.it/32x32')
          p LIVRARE 24 ORE <br />RETURNARE GRATUITA 
        .header-item.header-login
          p Login 
        .header-item.header-cos
          p Cos      
    .middle
      ul
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
        li
          a(href='') Menu
    .lower
      .cos
        span {
        | 5
        span }
        |  produse
      .search
        form.form-group
          input.form-control(type='search', placeholder='Search...')
          button(type='button')
            i.fa.fa-search
