.container
  .main-nav
    ul
      li
        a.active(href='category.html') Menu           
      li.dropdown
        a(href='category.html') Menu             
        ul.dropdown-menu.mega-menu
          .level-2-container
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3,4,5]
                  li.level-3
                    a(href='category.html') Menu Level 3                
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3,4,5]
                  li.level-3
                    a(href='category.html') Menu Level 3
          .level-2-container
            li.level-2
              a(href='category.html') Menu Level 2
              ul
               each val in [1,2,3]
                  li.level-3
                    a(href='category.html') Menu Level 3
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3,4,5,6,7]
                  li.level-3
                    a(href='category.html') Menu Level 3
          .teaser
            img(src='http://placehold.it/148x310/FF00FF/ffffff')
          .level-2-container
            li.level-2
              a(href='category.html') Menu Level 2
              ul
               each val in [1,2,3]
                  li.level-3
                    a(href='category.html') Menu Level 3
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3,4,5,6,7]
                  li.level-3
                    a(href='category.html') Menu Level 3
          .level-2-container
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3,4,5,6,7]
                  li.level-3
                    a(href='category.html') Menu Level 3
            li.level-2
              a(href='category.html') Menu Level 2
              ul
                each val in [1,2,3]
                  li.level-3
                    a(href='category.html') Menu Level 3
      li
        a(href='category.html') Menu           
      li
        a(href='category.html') Menu           
      li
        a(href='category.html') Menu           
      li
        a(href='category.html') Menu           
      li
        a(href='category.html') Menu           
      li
        a(href='category.html') Menu
